:root {
    --fc-small-font-size: .85em;
    --fc-page-bg-color: #fff;
    --fc-neutral-bg-color: hsla(0,0%,82%,.3);
    --fc-neutral-text-color: grey;
    --fc-border-color: #ddd;
    --fc-button-text-color: #fff;
    --fc-button-bg-color: #2c3e50;
    --fc-button-border-color: #2c3e50;
    --fc-button-hover-bg-color: #1e2b37;
    --fc-button-hover-border-color: #1a252f;
    --fc-button-active-bg-color: #1a252f;
    --fc-button-active-border-color: #151e27;
    --fc-event-bg-color: #3788d8;
    --fc-event-border-color: #3788d8;
    --fc-event-text-color: #fff;
    --fc-event-selected-overlay-color: rgba(0,0,0,.25);
    --fc-more-link-bg-color: #d0d0d0;
    --fc-more-link-text-color: inherit;
    --fc-event-resizer-thickness: 8px;
    --fc-event-resizer-dot-total-width: 8px;
    --fc-event-resizer-dot-border-width: 1px;
    --fc-non-business-color: hsla(0,0%,84%,.3);
    --fc-bg-event-color: #8fdf82;
    --fc-bg-event-opacity: 0.3;
    --fc-highlight-color: rgba(188,232,241,.3);
    --fc-today-bg-color: transparent;
    --fc-now-indicator-color: red;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-primary {
    --bs-btn-color: #354438;
    --bs-btn-bg: #d4e9ca;
    --bs-btn-border-color: #d4e9ca;
    --bs-btn-hover-color: #354438;
    --bs-btn-hover-bg: #b3cca8;
    --bs-btn-hover-border-color: #b3cca8;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #354438;
    --bs-btn-active-bg: #d4e9ca;
    --bs-btn-active-border-color: #d4e9ca;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6f6f6f;
    --bs-btn-disabled-border-color: #6f6f6f;
    font-weight: 600;
}

.fc .fc-toolbar {
    min-height: 100px;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0;
    padding-inline: 20px;
}

.fc-event-main b {
    white-space: break-spaces !important;
}

.fc-daygrid-day-frame.fc-scrollgrid-sync-inner {
    background:  45deg,
  #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px !important
}

.fc-day-today .fc-daygrid-day-top > a {
    position: relative;
}

.fc-day .fc-daygrid-day-top > a {
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    margin-right: 10px;
}

.fc-day-today .fc-daygrid-day-top > a:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffef00;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.btn-group > button + button {
    display: none;
}

.btn-group > button {
    border-radius: 0.375rem !important;
    background-color: var(--bs-btn-active-bg) !important;
}